.button_top {
    display: flex;
    .button {
        margin-right: 2%;
        border-radius: 9999px;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 24.48px;
        word-wrap: break-word;
        padding: 1.8% 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button_styles_custom {
        color: white !important;
        background-color: #4C5BD4;
    }
    .button_styles_default {
        color: #4C5BD4;
        background-color: #E4E7FF;
    }
}