.singleBtn {
  position: relative;
  margin-bottom: 27px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .indexWithBorder {
    display: flex;
    align-items: center;
    justify-content: center;

    .index {
      font-size: 24px;
    }
  }

  .rightDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    .verticalDivider {
      background-color: #717b7f;
      margin-right: 15px;
      width: 2px;
      height: 60%;
    }
  }

  .rightDiv::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;
    height: 60%;
    background-color: #717b7f;
    transform: translateY(-50%);
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    /* color: #000 !important; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-overflow: '...'; */
    text-overflow: ellipsis;
  }
}

.singleBtn::after {
  content: '';
  position: absolute;
  right: -13px;
  top: 50%;
  height: 80%;
  width: 10px;
  transform: translateY(-50%);
  border-right: 13px solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.gradientBackgroundEDF3FF {
  background: linear-gradient(to right, #edf3ff, #fff);
}

.singleBtn:hover {
  cursor: pointer;
}

.singleStep {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0px;

  .roundIndex {
    min-width: 44px !important;
    height: 44px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 14px;
    background-color: #4c5bd4;

    .index {
      font-size: 24px;
      font-family: 'Salsa', cursive !important;
      color: #fff;
    }
  }

  .title {
    font-size: 20px;
    color: #474747;
    font-weight: 600;
    cursor: pointer;
  }

  .circleExplain {
    width: 35px;
    height: 35px;
    border: 1px solid #4c5bd4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 20px;

    .text {
      font-size: 30px;
      color: #ff5b4d;
    }
  }
}

.headerText {
  font-size: 30px;
  margin-bottom: 30px;
}

.indexWrapper {
  border: 2px solid lightgrey;
  padding: 10px 15px;
  border-radius: 10px;
}

.title:hover {
  color: #4c5bd4;
}

.btnEmp {
  border-radius: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  cursor: pointer;

  .btnTitle {
    color: #4c5bd4;
    font-size: 20px;
    margin-left: 20px;
  }
}
/* responsive */
@media screen and (max-width: 1210px) {
}

@media screen and (max-width: 1024px) {
  .headerText {
    font-size: 26px;
  }
  .title {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 18px !important;
  }

  .section1 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .headerText {
    font-size: 22px;
  }
}

@media screen and (max-width: 414px) {
  .singleBtn {
    .title {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .btnTitle {
    font-size: 18px !important;
  }

  .section1 {
    padding: 0px 16px;
  }

  .section1 > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .btnEmp {
    width: 100% !important;
  }

  .headerText {
    font-size: 18px;
  }

  .singleBtn {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.btnAds {
  background: linear-gradient(94deg, #ff4c3d 11.14%, #b00e00 90.07%);
  border: 1px solid #acacac;
  width: max-content;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btnTxt {
  padding: 12px 6px;
  text-transform: uppercase;
  color: #fff;
}
