.border-radius-circle {
    border-radius: 50% !important;
    overflow: hidden;
}
.border-none {
    border: none !important;
}
.border-color-999 {
    border: 1px solid #999999 !important;
}
.border-color-ccc {
    border: 1px solid #cccccc;
}