.scroll-behavior {
    scroll-behavior: auto;
}
.overflow-x-auto {
    overflow-x: auto;
}
.overflow-y-auto {
    overflow-y: auto;
}

.overflow-auto {
    overflow: auto !important;
}
.overflow-hidden {
    overflow: hidden;
}
.scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}